// Colores base
$color-bg: rgb(16, 19, 25);
$color-card-bg: rgb(31, 36, 48);
$color-footer-border: #222;
$color-primary: rgb(106, 116, 135);
$color-primary-dark: rgb(43, 52, 66);
$color-text: #ffffff;
$color-nav-hover: rgb(180, 180, 180);

// Tipografía
$font-primary: "Nunito", "Roboto", system-ui, -apple-system, BlinkMacSystemFont,
  "Segoe UI", sans-serif;
